<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Youtube to MP3 Converter</title>
</head>
<body>
  <div class="top-container">
    <form action="/convert-mp3" method="POST" id="form">
      <h1><i class="fa-brands fa-youtube"></i>Youtube to MP3 Converter</h1>
      <h4>Enter the video ID</h4>
      <div>
        <input type="text" name="videoID" placeholder="Video ID"><button id="convert-btn">Convert</button>
      </div>
    </form>
  </div>

  <div class="bottom-container">
    <% if(typeof success != "undefined" && success) { %>
      <div class="success">
        <p><%= song_title %></p>
        <a href="<%= song_link %>"><button id="download-btn">DOWNLOAD</button></a>
      </div>
    <% } else if(typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p><%= message %></p>
      </div>
    <% } %>
  </div>
</body>
</html>
